PORT=3333

#### POSTGRES DATABASE CONFIGURATION
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USERNAME=insert_your_user_here
PG_PASSWORD=insert_your_password_here
PG_DATABASE=competency_evaluator_db

#### JWT SECRET KEY
#### Generabile con: node -e "console.log(require('crypto').randomBytes(16).toString('hex'))"
SECRET_KEY = insert_your_secret_key_here

#### ADMIN SEED CONFIGURATION (Default initial admin credentials)
SEED_ADMIN_NAME=Admin
SEED_ADMIN_EMAIL=admin@coeva.local
SEED_ADMIN_PASSWORD=Password!