PORT=3333

#### POSTGRES DATABASE CONFIGURATION
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USERNAME=insert_your_user_here
PG_PASSWORD=insert_your_password_here
PG_DATABASE=competency_evaluator_db

#### node -e "console.log(require('crypto').randomBytes(16).toString('hex'))"
SECRET_KEY = insert_your_secret_key_here